RABBITMQ_URL=amqp://localhost:5672

# Inbound Oracle integration queue
RMQ_INBOUND_INTEGRATION_EXCHANGE=inbound.integration
RMQ_INBOUND_INTEGRATION_QUEUE=inbound.integration.process
RMQ_INBOUND_INTEGRATION_ROUTING_KEY=inbound.process
RMQ_INBOUND_INTEGRATION_DLX_EXCHANGE=inbound.integration.dlx
RMQ_INBOUND_INTEGRATION_DLX_ROUTING_KEY=inbound.process.dlq

# Outbound PO internal requisition integration queue
RMQ_OUTBOUND_INTEGRATION_EXCHANGE=outbound.integration
RMQ_OUTBOUND_INTEGRATION_QUEUE=outbound.integration.process
RMQ_OUTBOUND_INTEGRATION_ROUTING_KEY=outbound.process
RMQ_OUTBOUND_INTEGRATION_DLX_EXCHANGE=outbound.integration.dlx
RMQ_OUTBOUND_INTEGRATION_DLX_ROUTING_KEY=outbound.process.dlq
